*{
    margin:0;
    padding: 0;
}

body{
    font-family: sans-serif;
    font-weight:lighter;
}
header {
 background-image: url(../images/apple-pie.jpg);
 background-repeat: no-repeat;
 background-size:100%;
}
h1{
    color: white;
    text-align: center;
    padding: 450px;
    font-size: 100px;
}

.first_part p{
    margin: auto;
    margin-top: 70px;
    text-align: justify;
    font-size: 30px;
    color: rgb(117, 117, 117);
}

img{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 30%;
}

.first_part{
    border-bottom: 3px solid rgb(117, 117, 117);
    padding-bottom: 10px;
    width: 60%;
    margin: auto;
}

.second_part{
    border-bottom: 3px solid rgb(117, 117, 117);
    padding-bottom: 10px;
    width: 60%;
    margin: auto;
}

h2 {
    font-weight: lighter;
    font-size: 30px ;
    margin-bottom: 20px;
    margin-top: 30px;
    font-size: 30px;
}

ul
{
    color: rgb(117, 117, 117);
    margin-left: 10px;
    font-size: 20px;
}

.third_part{
        border-bottom: 3px solid rgb(117, 117, 117);
        padding-bottom: 10px;
        width: 60%;
        margin: auto;
}

